.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
h2 {
    font-size: 26px;
    margin: 20px 0;
    padding-bottom: .5rem;
    text-align: center;
}
.col-bold{
    font-weight: 700;
    color: #F8F2EA!important;
}
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg,#08668b, hsl(197, 82%, 44%));
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  font-weight: 600;
  width: 6rem;
  outline: none;
  border: none;
  padding: .5rem;
}
.button-75:active {
  outline: 0;
}
.button-75:hover {
  outline: 0;
}
.button-75 span {
    font-size: 1.1rem;
  transition: all 200ms;
  user-select: none;
  -webkit-user-select: none;
}
.button-75:hover span {
  transform: scale(.9);
}
.col{
    color: #264973;
    font-size: 1.2rem;
    text-align: center;
}
.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.responsive-table .table-header {
    background-color: #08668b;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.03em;
}
.responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
    flex-basis: 10%;
}
.responsive-table .col-2 {
    flex-basis: 40%;
}
.responsive-table .col-3 {
    flex-basis: 25%;
    text-align: left;
}
.responsive-table .col-4 {
    flex-basis: 25%;
}
@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
   }
    .responsive-table li {
        display: block;
   }
    .responsive-table .col {
        flex-basis: 100%;
        display: flex;
        padding: 10px 0;
   }
    .responsive-table .col:before {
        color: #264973;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: left;
        font-weight: 700;
   }
}