<div class="login">
    <div class="lg-content">
        <label class="title">Login</label>
        <form>
            <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Email</label>
            </div>
            <div class="input-group">
                <input required="" type="password" name="text" autocomplete="off" class="input">
                <label class="user-label">Password</label>
            </div>
            <button>
                <span>LOGIN</span>
            </button>
        </form>
    </div>
</div>