<div class="register">
    <div class="rg-content">
        <label class="title">Register</label>
        <form>
            <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Full Name</label>
            </div>
            <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Email</label>
            </div>
            <div class="input-group">
                <input required="" type="password" name="text" autocomplete="off" class="input">
                <label class="user-label">Password</label>
            </div>
            <div class="input-group">
                <input required="" type="password" name="text" autocomplete="off" class="input">
                <label class="user-label">Confirm Password</label>
            </div>
            <button>
                <span>REGISTER</span>
            </button>
        </form>
    </div>
</div>